.avatar_modal_outer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.avatar_modal_outer_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
  overflow: auto;
  max-width: 50rem;
  width: 100%;
  max-height: 80vh;
  background-color: #00243d;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.avatars-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.avatars-img {
  height: 7rem;
  cursor: pointer;
  border-radius: 5px;
}

.avatars-img:hover {
  transition: 0.2s;
  border-radius: 50%;
  box-shadow: rgb(245, 245, 245) 0px 0px 0px 2px;
}

.avatars-btn {
  font-size: medium;
  margin-top: 1rem;
  padding: 0.5rem;
  background: rgb(29, 155, 240);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  width: 10rem;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.avatars-btn:hover {
  transition: 0.3s;
  color: white;
  box-shadow: inset 0em 0em 0em 50em rgba(0, 0, 0, 0.3);
}
