.feed-link {
  text-decoration: none;
  color: white;
}
.feed-parent-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
}

.feed-inner-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.signout {
  cursor: pointer;
}

.sidebar {
  margin: 0.5rem;
  line-height: 0;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 5rem;
}
.sidebar:hover {
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.058);
}
