.feed-link {
  text-decoration: none;
  color: whitesmoke;
}
/* .feed-parent-div {
  display: -webkit-inline-box;
  gap: 2rem;
  flex-wrap: wrap;
} */

.feed-inner-div {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
}

.signout {
  cursor: pointer;
}

.sidebar {
  margin: 0.5rem;
  line-height: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-inner-div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  padding: 0rem 1rem;
}

.sidebar-inner-div:hover {
  border-radius: 5rem;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.058);
}

.feed-user-div {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}
.feed-user-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed-username {
  font-size: small;
  color: rgba(128, 128, 128, 0.916);
}

.sort-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 0;
  padding: 0.4rem;
  border: solid gray;
  border-width: 0.000001px;
  cursor: pointer;
}

.sort-p {
  border-right: solid gray;
}

.post-edit_modal_outer_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.post-edit_modal_outer_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
  overflow: auto;
  max-width: 35rem;
  width: 100%;
  max-height: 80vh;
  background-color: #00000080;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
