.App {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-around; */
}

body {
  background-color: #003153;
  color: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
